{% trans_default_domain 'FOSUserBundle' %}
<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <ul>
          <li class="home"> <a title="Aller à la page d'accueil" href="{{ path('produits') }}">Accueil</a><span>&mdash;›</span></li>
          <li class="category13"><strong>Modifier mon mot de passe</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- main-container -->
  <div class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 wow bounceInUp animated">
          <div class="page-title">
            <h2>Modifier mon mot de passes</h2>
          </div>
          <div class="static-contain">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                {{ form_widget(form) }}
                <br />
                <button type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}" class="button login"><span>{{ 'change_password.submit'|trans }}</span></button>
            </form>
          </div>
        </section>
        {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
      </div>
    </div>
  </div>
  <!--End main-container --> 