{% extends "::layout/layoutfront.html.twig" %}

{% block body %}

        <div >
            {% include '::modulesUsed/navigation.html.twig' %}
        </div>
            
    
             <div class="container">
    <div class="header-service wow bounceInUp animated">
      <div class="col-lg-3 col-sm-6 col-xs-3">
        <div class="content">
          <div class="icon-truck">&nbsp;</div>
          <span class="hidden-xs"><strong> LIVRAISON ET RETOUR GRATUITS</strong> </span></div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-3">
        <div class="content">
          <div class="icon-support">&nbsp;</div>
          <span class="hidden-xs"><strong>Service client</strong> 50390251</span></div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-3">
        <div class="content">
          <div class="icon-money">&nbsp;</div>
          <span class="hidden-xs"><strong>Paiement à la livraison </strong> </span></div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-3">
        <div class="content">
          <div class="icon-dis">&nbsp;</div>
          <span class="hidden-xs"><strong>bienvenue</strong></span></div>
      </div>
    </div>
  </div>
  <!-- end header service --> 
{% render(controller('EcommerceBundle:Boutiques:me')) %}
 <section class="main-container col1-layout home-content-container">
                    <div class="container">
                        <div class="std">
                            <div class="best-seller-pro wow bounceInUp animated">
                              {% if produits|length != 0 %}
                                <div class="slider-items-products">
                                    <div class="new_title center">
                                    <h2>Tous les Produits</h2>
                                    </div>
                                    <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                                    <div class="slider-items slider-width-col4"> 
                                        {% for produit in produits %}
                                            <div class="item">
                                              <div class="col-item">
                                                 {% if produit.disponible == 1  %}
                                                    <div class="sale-label sale-top-right">dispo</div>
                                                  {% endif %} 
                                                <div class="product-image-area"> <a class="product-image" title="Sample Product" href="{{ path('presentation', { 'id' : produit.id }) }}"> <img src="{{ asset(produit.image.AssetPath) }}" class="img-responsive" title="{{ produit.nom }}" /> </a>
                                                
                                              <div class="hover_fly">
                                                {% if panier[produit.id] is not defined  %}    
                                                  {% if produit.disponible!=0 %}
                                                    <a class="exclusive ajax_add_to_cart_button" href="{{ path('ajouter', { 'id' : produit.id }) }}" title="Ajouter au panier">
                                                      <div><i class="icon-shopping-cart"></i><span>Ajouter au panier</span></div></a> 
                                                  {% else %}     
                                                    <a class="exclusive ajax_add_to_cart_button" href="{{ path('presentation', { 'id' : produit.id }) }}" title="N'est pas disponible">
                                                      <div><i class="icon-shopping-cart"></i><span>N'est pas disponible</span></div></a> 
                                                  {% endif %}   
                                                {% else %}
                                                <a class="exclusive ajax_add_to_cart_button" href="{{ path('ajouter', { 'id' : produit.id }) }}" title="Deja en panier">
                                                <div><i class="icon-shopping-cart"></i><span>Deja en panier</span></div></a> 
                                                {% endif %}
                                                     <a class="quick-view" href="{{ path('presentation', { 'id' : produit.id }) }}" title="Aperçu rapide">
                                                    <div><i class="icon-eye-open"></i><span>Aperçu rapide</span></div>
                                                    </a> <a class="add_to_compare" href="{{ path('sousCategorieGridProduits', { 'sousCategorieGrid' : produit.categorieProduit.id }) }}" title="Catégorie">
                                                      <div><i class="icon-random"></i><span>Catégorie</span></div>
                                                    </a> <a class="addToWishlist wishlistProd_5" href="{{ path('presentationBoutique', { 'idB' : produit.boutique.id }) }}" title="Voir Boutique" >
                                                    <div><i class="icon-heart"></i><span>Voir Boutique</span></div>
                                                      </a> 
                                              </div>

                                                </div>
                                                <div class="info">
                                                  <div class="info-inner">
                                                    <div class="item-title">
                                                     <p><a title=" Sample Product" href="{{ path('presentation', { 'id' : produit.id }) }}"> {{ produit.nom }} </a> </p>
                                                      <a title=" Sample Product" href="{{ path('presentation', { 'id' : produit.id }) }}"> {{ produit.marque }} </a> 
                                                     </div>
                                                    <!--item-title-->
                                                    <div class="item-content">
                                                      <div class="price-box">
                                                        <p class="special-price"> <span class="price">{{ produit.prixremise }} dt</span> </p>
                                                        <p class="old-price"> <span class="price-sep">-</span> <span class="price">{{ produit.prix }} dt </span> </p>
                                                      </div>
                                                    </div>
                                                    <!--item-content--> 
                                                  </div>
                                                  <!--info-inner-->
                                                  
                                                  <div class="clearfix"> </div>
                                                </div>
                                              </div>
                                            </div>
                                        {% endfor %}                
                                         <div class="navigation">
                                          {{ knp_pagination_render(produits) }}
                                        </div>  

                                    </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                Aucun produit
            {% endif %} 
 </section>
  <!-- End main container --> 
  
  <!-- offer banner section -->
 
  
  <!-- end offer banner section --> 
  
  <!-- Featured Slider -->

  <!-- End Featured Slider --> 
  <!-- promo banner section -->
 
  <!-- End promo banner section --> 
  <!-- middle slider -->
{% if sousCategories|length != 0 %}  
 <section class="middle-slider container wow bounceInUp animated">
    <div class="row">
    {% for sousCategorie in sousCategories|slice(0,2) %}
      <div class="col-md-6">
        <div class="bag-product-slider small-pr-slider cat-section">
          <div class="slider-items-products">
            <div class="new_title center">
              <h2>{{ sousCategorie.nom }}</h2>
            </div>
            <div id="bag-seller-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col3">
              {% for produit in produits %} 
                {% if sousCategorie.nom == produit.categorieProduit  %}  
                <!-- Item -->
                <div class="item">
                  <div class="col-item">
                    <div class="product-image-area"> <a class="product-image" title="{{ produit.nom }}" href="{{ path('presentation', { 'id' : produit.id }) }}"> <img src="{{ asset(produit.image.AssetPath) }}" class="img-responsive" alt="a" /> </a>
                      <div class="actions-links"><span class="add-to-links"> <a title="Aperçu rapide" class="magik-btn-quickview" href="{{ path('presentation', { 'id' : produit.id }) }}"><span>Aperçu rapide</span></a> <a title="Voir Boutique" class="link-wishlist" href="{{ path('presentationBoutique', { 'idB' : produit.boutique.id }) }}"><span>Voir Boutique</span></a> <a title="Catégorie" class="link-compare" href="{{ path('sousCategorieGridProduits', { 'sousCategorieGrid' : produit.categorieProduit.id }) }}"><span>Catégorie</span></a></span> </div>
                    </div>
                    <div class="info">
                      <div class="info-inner">
                        <div class="item-title"> <a title=" Sample Product" href="{{ path('presentation', { 'id' : produit.id }) }}"> {{ produit.nom }} </a> </div>
                        <!--item-title-->
                        <div class="item-content">  
                          <div class="price-box">
                            <p class="special-price"> <span class="price">{{ produit.prixremise }} dt</span> </p>
                            <p class="old-price"> <span class="price-sep">-</span> <span class="price">{{ produit.prix }} dt </span> </p>
                          </div>
                        </div>
                        <!--item-content--> 
                      </div>
                      <!--info-inner-->
                      <div class="actions">
                      {% if panier[produit.id] is not defined %}
                        {% if produit.disponible!=0 %}
                          <a  href="{{ path('ajouter', { 'id' : produit.id }) }}"><button type="button" title="Ajouter au panier" class="button btn-cart"><span>Ajouter au panier</span></button></a>
                        {% else %} 
                          <a  href="{{ path('presentation', { 'id' : produit.id }) }}"><button type="button" title="N'est pas disponible" class="button btn-cart"><span>N'est pas disponible</span></button></a>  
                        {% endif %}  
                      {% else %} 
                        <a  href="{{ path('ajouter', { 'id' : produit.id }) }}"><button type="button" title="Deja au panier" class="button btn-cart"><span>Deja au panier</span></button></a>   
                      {% endif %}  
                      </div>
                      <!--actions-->
                      
                      <div class="clearfix"> </div>
                    </div>
                  </div>
                </div>
                <!-- End Item --> 
                {% endif  %}
              {% endfor %}  
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}  
    </div>
  </section>
{% endif %}  
  <!-- End middle slider --> 
  
  <!-- Latest Blog -->
  {% if articles|length != 0 %}
  <section class="latest-blog container wow bounceInUp animated">
    <div class="blog-title">
      <h2><span>Dernières Articles</span></h2>
    </div>
  {% for article in articles|slice(0,3) %}
    <div class="col-xs-12 col-sm-4">
      <div class="blog-img"> <img src="{{ asset(article.image.AssetPath) }}" alt="Image">
        <div class="mask"> <a class="info" href="{{ path('article', { 'id' : article.id }) }}">Lire plus</a> </div>
      </div>
      <h2><a href="{{ path('article', { 'id' : article.id }) }}">{{ article.titre }}</a> </h2>
      <div class="post-date"><i class="icon-calendar"></i> {% if article.datecreation %}{{ article.datecreation|date('Y-m-d H:i:s') }}{% endif %}</div>
      <p> {{ article.description }} </p>
    </div>
  {% endfor %}
  </section>
  <!-- End Latest Blog -->

{% endif %}


            
 
{% endblock %}