        <aside class="col-right sidebar col-sm-3 wow bounceInUp animated">
          <div class="block block-account">
            <div class="block-title">Mon compte</div>
            <div class="block-content">
              <ul>
                <li><a href="{{ path('fos_user_profile_show') }}">Mes informations</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a></li>
                <li><a href="{{ path('factures') }}">Mes factures</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
              </ul>
            </div>
          </div>
        </aside>