<div class="span3">

    <div class="well">
    <div class="nav-title"> <span>Menu</span> </div>
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('SuperAdminCategories') }}"><span class="menu-title">Catégories</span></a>
            </li>
            <li>
                <a href="{{ path('adminSousCategories') }}"><span class="menu-title">Sous Catégories</span></a>
            </li>
            <li>
                <a href="{{ path('SuperAdminBoutiques') }}"><span class="menu-title">Boutiques</span></a>
            </li>
            <li>
                <a href="{{ path('adminBoutiquesPremium') }}"><span class="menu-title">Boutiques Premium</span></a>
            </li>
            <li>
                <a href="{{ path('SuperAdminProduits') }}"><span class="menu-title">Produits</span></a>
            </li>
            <li>
                <a href="{{ path('adminProduitsPremium') }}"><span class="menu-title">Produits Premium</span></a>
            </li>
          
            <li>
                <a href="{{ path('adminArticles') }}"><span class="menu-title">blog</span></a>
            </li>
            <li>
                <a href="{{ path('SuperAdminUtilisateurs') }}"><span class="menu-title">espace membres</span></a>
            </li>
             <li>
                <a href="{{ path('superAdminMessage') }}"><span class="menu-title">messages</span></a>
            </li>
             <li>
                <a href="{{ path('superAdminCommande') }}"><span class="menu-title">Commandes</span></a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><span class="menu-title">Deconnexion</span></a>
            </li> 
        </ul>
    </div>
</div>
