<div class="span3">

    <div class="well">
    <div class="nav-title"> <span>Menu</span> </div>
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminBoutiques') }}"><span class="menu-title">Boutiques</span></a>
            </li>
            <li>
                <a href="{{ path('adminTva') }}"><span class="menu-title">Tva</span></a>
            </li> 
            <li>
                <a href="{{ path('adminProduits') }}"><span class="menu-title">Produits</span></a>
            </li>
            <li>
                <a href="{{ path('adminCommande') }}"><span class="menu-title">Commandes</span></a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><span class="menu-title">Deconnexion</span></a>
            </li> 
        </ul>
    </div>
</div>
