<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <link href="{{ pathDefault }}css/aide.css" rel="stylesheet" type="text/css" />
        <title>Aide</title>
        
    </head>
    <body>
         <div class="header_pdf_aide" style="position: relative; border-bottom: 1px solid #000; width:100%; height: 150px;">
              <div style="width:34%; position: absolute; float:left;">
                <p style="background: red;"><img alt="E-Boutique" src="{{ pathDefault }}frontoffice/images/logo.png"></p>
              </div>
              <div style="width: 210px; position: absolute; float:right;  right: 1px; text-align: left;">
                <p><b>Adress    :</b>  7000 Tunisie, Bizerte </p>
                <p><b>Email     :</b>  eboutique@Contact.com </p>
                <p><b>Téléphone :</b>  +21650390251 </p>
              </div>
              <div style="clear:both"></div>
          </div>

          <div class="content_pdf_aide">
            <div class="block" style="padding:0px 10px 0px 10px">
            <h4>CONNEXION AU SITE</h4>
            <img src="{{ pathDefault }}frontoffice/images/accuiel.png"/> 
            <br>
            Sur cette page vous trouverez l’ensemble des paramètres de votre compte, vous pouvez également accéder aux différents <br>
             modules de recherche (boutique sou produits, vos commandes, vos factures, ... Vous trouverez aussi les informations<br> nécessaires pour nous contacter en cas de besoin.
            <img src="{{ pathDefault }}frontoffice/images/contact.png"/><br>
             Vous pouvez voir les articles de notre site en cliquant sur  «<span ><img src="{{ pathDefault }}frontoffice/images/bt_blog.png"></span>»<br><br>
             <img src="{{ pathDefault }}frontoffice/images/blog.png"/><br>
            Si vous été  un propriétaire, un bouton «<span ><img src="{{ pathDefault }}frontoffice/images/bt_blog.png"></span>»sera afficher en haut de site pour créer vos boutiques.<br>
            Vous pouvez ce déplacer dans les déférent catégories pour trouver votre besoins en cliquons sur une de catégorie dans le menu a gauche 
            <img src="{{ pathDefault }}frontoffice/images/cat_pro.png"/><br>
            Cliquer sur «<span ><img src="{{ pathDefault }}frontoffice/images/ap_rap.png"></span>»pour voir plus de détaille <br>
            <img style="float: left;" src="{{ pathDefault }}frontoffice/images/blanc.png"/>
            <img src="{{ pathDefault }}frontoffice/images/pro_det.png"/><br>
            Aussi vous pouvez voir la boutique en détaille et le produits qui lui appartient
            <img src="{{ pathDefault }}frontoffice/images/bot_det.png"/><br>
            <h4>PANIER</h4>
            Le panier est un stockage des produits et des quantités que vous y avez mis au fur et à mesure de vos recherches, en attendant de passer la commande .Vous pouvez y accéder soit en cliquant sur le bouton «<span ><img src="{{ pathDefault }}frontoffice/images/bt_pan.png"></span>»à droite de votre page utilisateur soit en cliquant sur «<span ><img src="{{ pathDefault }}frontoffice/images/bt_a_p.png"></span>»lorsque vous naviguez sur les différentes pages. Vous pouvez alors y voir la liste des références et les quantités que vous leur avez affectées.<br>
             <img style="float: left;" src="{{ pathDefault }}frontoffice/images/blanc.png"/>
            <img src="{{ pathDefault }}frontoffice/images/panier.png"/><br>
            <h5>Astuce</h5>
            Vous pouvez personnaliser l’intitulé de votre panier dans le champ :
            La première chose que vous pouvez faire dans le panier est de modifier les quantités. Pour ce faire, il vous suffit de sélectionner la nouvelle quantité désirée dans les champs prévus à cet effet  « ». Pour effacer un produit du panier, taper sur « » .
            vous avez la possibilité de contenue votre achat en cliquant sur le bouton « »
            Enfin,si vous avez contenu vos achat cliquez sur « »
            <h5>ATTENTION ! </h5>vous devez être connecter pour faire cette opération.
            Remplir vous adresses <br>
             <img style="float: left;" src="{{ pathDefault }}frontoffice/images/balanc.png"/>
            <img src="{{ pathDefault }}frontoffice/images/livraison.png"/><br>
            Et valide votre commande en cliquant sur livrer<br>
            <img style="float: left;" src="{{ pathDefault }}frontoffice/images/balanc.png"/>
            <img src="{{ pathDefault }}frontoffice/images/valider.png"/><br>
            <img src="{{ pathDefault }}frontoffice/images/facture.png"/><br>
            <h4>SUIVI DES COMMANDES</h4>

            Sur notre site E-Boutique, vous avez la possibilité de consulter votre commande ainsi que leur date et obtenir la facture .Pour ce faire, rendez-vous à la page «Mes factures» accessible directement sur la page d’accueil personnalisée «<span ><img src="{{ pathDefault }}frontoffice/images/moncompte.png"></span>»<br>
            Pour voir la facture en PDF cliquez sur « «<span ><img src="{{ pathDefault }}frontoffice/images/ref.png"></span>»<br>
            <img style="float: left;" src="{{ pathDefault }}frontoffice/images/balanc.png"/>
            <img src="{{ pathDefault }}frontoffice/images/fac.png"/><br>
            <img src="{{ pathDefault }}frontoffice/images/fdf.png"/><br>
            <h4> Mise en place de la boutique</h4>
            Cliquer sur le lien Crier votre boutique pour accéder directement à votre espace 
            <img style="float: left;" src="{{ pathDefault }}frontoffice/images/blanc.png"/>
            <img src="{{ pathDefault }}frontoffice/images/listeb.png"/><br><br>
            Pour créer une nouvelle boutique taper sur «<span ><img src="{{ pathDefault }}frontoffice/images/btcr.png"></span>»<br>
            <img src="{{ pathDefault }}frontoffice/images/crbou.png"/><br>
            Pour consulter vos produits cliquer sur PRODUITS dans le menu a gauche
            <img style="float: left;" src="{{ pathDefault }}frontoffice/images/blanc.png"/>
             <img src="{{ pathDefault }}frontoffice/images/listepro.png"/><br>
             Pur créer un nauveaux produit cliquer sur «<span ><img src="{{ pathDefault }}frontoffice/images/btprod.png"></span>»<br>
             <img src="{{ pathDefault }}frontoffice/images/crepro.png"/><br>
            </div>
          </div>

        <div id="footer">
                <span><b>Adress    :</b>  7000 Tunisie, Bizerte </span>
                <span><b>Email     :</b>  eboutique@Contact.com </span>
                <span><b>Téléphone :</b>  +21650390251 </span>
        </div>
       
    </body>
</html>